- provide(:title, 'About')
%h1 My story
%h4.content
  It was in the 2000 year. The Internet was very poor developed.
  %br 
  There were no booking and social services. 
  %br
  And i suggested to develop the application, where users could add hotels, 
  %br
  which they had visited and put а rating for them.
